hardware-configuration.nix
non-nix/.config/vesktop/Crashpad
non-nix/.config/vesktop/sessionData
non-nix/.config/vesktop/SingletonCookie
non-nix/.config/vesktop/SingletonSocket
non-nix/.config/vesktop/SingletonLock
non-nix/.config/dconf
non-nix/.config/discord 
non-nix/.config/Electron
non-nix/.config/environment.d
non-nix/.config/git
non-nix/.config/glib-2.0
non-nix/.config/gtk-3.0
non-nix/.config/gtk-4.0
non-nix/.config/ibus
non-nix/.config/kritadisplayrc
non-nix/.config/kritarc
non-nix/.config/libreoffice
non-nix/.config/mimeapps.list
non-nix/.config/QtProject.conf
non-nix/.config/Signal
non-nix/.config/spotify
non-nix/.config/systemd
non-nix/.config/thefuck
non-nix/.config/vlc
non-nix/.config/forge
non-nix/.config/neofetch
non-nix/.config/pulse
non-nix/.config/QtProject.conf
non-nix/.config/fontconfig
non-nix/.config/stylix
non-nix/.config/kitty
non-nix/.config/hypr
non-nix/.config/bat
non-nix/.config/btop
non-nix/.config/obs-studio

